-e .

# Async database drivers
asyncmy
aiomysql
aiopg
aiosqlite
asyncpg

# Sync database drivers for standard tooling around setup/teardown/migrations.
psycopg2-binary
pymysql

# Testing
autoflake
black
codecov
isort
mypy
pytest
pytest-cov
starlette
requests

# Documentation
mkdocs
mkdocs-material
mkautodoc

# Packaging
twine
wheel
