# Notes...
# The JSONField tests require sqlalchemy 1.3+. Other cases work at lower versions.
# The aiocontextvars package is only required as a backport for Python 3.6.
-e .

# Async database drivers
asyncmy;python_version>"3.6"
aiomysql;python_version<"3.10"
aiopg
aiosqlite
asyncpg

# Sync database drivers for standard tooling around setup/teardown/migrations.
psycopg2-binary
pymysql

# Testing
autoflake
black
codecov
isort
mypy
pytest
pytest-cov
starlette
requests

# Documentation
mkdocs
mkdocs-material
mkautodoc

# Packaging
twine
wheel
